.nav-header {
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 700px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #12022f;

  border-bottom: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

.nav-link {
  text-decoration: none;
  margin: 10px;
  color: black;
  font-family: 'Roboto';
}

.blog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.blog-title {
  font-family: 'Roboto';
  color: black;
  font-size: 18px;
  margin-left: 10px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: black;
  font-family: 'Roboto';
  cursor: pointer;
}
.logo-container {
  display: flex;
  flex-direction: row;
}
.logo-image {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 12px;
}

@media screen and (min-width: 575px) {
  .blog-title {
    font-family: 'Roboto';
    color: black;
    font-size: 18px;
  }
}
